html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
}

.mainHeader {
    width: 100%;
    height: calc(100vw*1280.0/1920.0);
    background: url(img/header/background_small.jpg) no-repeat;
    background-size: cover;
    float: left;
}

.headerUpperMenu {
    height: 30px;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 60px;
}

.headerSingleText {
    letter-spacing: 2px;
    width: 40%;
    font-size: 30px;
    font-weight: bold;
    float: left;
}

.headerMenu {
    float: right;
    font-size: 27px;
    display: block;
}

.headerMenu ul {
    list-style-type: none;
}

.headerMenu ul li {
    float: left;
}

.headerMenu ul li a {
    color: black;
    margin-left: 20px;
    text-decoration: none;
}

.headerMenu ul li a:hover {
    color: #565C5E;
}

.headerContent {
    float: right;
    width: 30%;
    margin-right: 11%;
    margin-top: 25%;
}

.headerTitle {
    float: right;
    margin-left: auto;
    font-size: 50px;
    font-weight: bold;
}

.headerLine {
    clear: both;
    width: 25%;
    height: 3px;
    margin-left: auto;
    background-color: #000;
}

.headerTitleContent {
    padding-top: 20px;
    text-align: right;
    opacity: 0.75;
}

.headerButton {
    border: 2px solid #000;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    width: 45%;
    line-height: 40px;
    font-size: 18px;
}

.headerButton a {
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
}

.headerButton:hover {
    border: 2px solid #565C5E;
}

.headerButton a:hover {
    color: #565C5E;
}

.contentWhoAndWhy {
    clear: both;
    width: 100%;
    height: 490px;
    padding-top: 100px;
    padding-bottom: 110px;
    padding-left: 16%;
    padding-right: 16%;
    background-color: #FFF;
}

.contentWhoAndWhy-logoAndTitle {
    width: 100%;
    height: 100px;
}

.contentWhoAndWhy-logo {
    background-image: url(img/content_1/tree_icon.jpg);
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.contentWhoAndWhy-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.contentWhoAndWhy-text {
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
}

.content_2Future {
    width: 100%;
    padding-bottom: 110px;
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 70px;
    height: 370px;
    background-color: #EFEFEF;
}

.content_2Future-div-1 {
    width: 26%;
    height: 180px;
    float: left;
    margin-right: 11%;
}

.content_2Future-div-1-img {
    height: 45px;
    width: 50px;
    background-image: url(img/content_2/clock.png);
    float: left;
    background-size: cover;
}

.content_2Future-div-1-text {
    padding-top: 20px;
    clear: both;
    line-height: 25px;
}

.content_2Future-div-1-text p {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

.content_2Future-div-2 {
    width: 26%;
    height: 180px;
    float: left;
    margin-right: 11%;
}

.content_2Future-div-2-img {
    height: 45px;
    width: 50px;
    background-image: url(img/content_2/vector.png);
    float: left;
    background-size: cover;
}

.content_2Future-div-2-text {
    padding-top: 20px;
    clear: both;
    line-height: 25px;
}

.content_2Future-div-2-text p {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

.content_2Future-div-3 {
    width: 26%;
    height: 180px;
    float: left;
}

.content_2Future-div-3-img {
    height: 45px;
    width: 50px;
    background-image: url(img/content_2/truck.png);
    float: left;
    background-size: cover;
}

.content_2Future-div-3-text {
    padding-top: 20px;
    clear: both;
    line-height: 25px;
}

.content_2Future-div-3-text p {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

.article-container {
    width: 100%;
    height: 840px;
}

.article-container-text {
    background-color: #FFF;
    padding: 70px 24% 30px;
    width: 100%;
    height: 330px;
    line-height: 30px;
    text-align: center;
}

.article-container-text p {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
}

.article-container-on-articles {
    float: left;
    height: 510px;
    width: 100%;
    background: #FFF;
}
